@page "/counter"
@inject Toolbelt.Blazor.I18nText.I18nText I18nText


<h1>@Localized["Name"]</h1>
<h1>@Localized["Login"]</h1>
<h1>@Localized["Newpassword"]</h1>
<h1>@Localized["Logout"]</h1>
<h1>@Localized["Password"]</h1>


@code{
    I18nText.Localized Localized = new I18nText.Localized();

    protected override async Task OnInitializedAsync()
    {
        Localized = await I18nText.GetTextTableAsync<I18nText.Localized>(this);
    }
}