@page "/"
@using EDO.WorkFlow.Services
@using EDO.WorkFlow.Models
@inject IDocumentService DocumentService;
<h1>Hello, world!</h1>

Welcome to your new app.

@if (_documentList == null)
{
    <p>Loading........</p>
}
else
{
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>File Path</th>
                    <th>Documrnt Type Id</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var document in _documentList)
                {
                    <tr>
                        <td>@document.Id</td>
                        <td>@document.Name</td>
                        <td>@document.Description</td>
                        <td>@document.FilePath</td>
                        <td>@document.DocumentTypeId</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


@code{
    List<DocumentResponseModel> _documentList;
    protected override async Task OnInitializedAsync()
    {
        _documentList = await DocumentService.GetAllDocuments();
    }
}